.products {
    padding: 0 30px;
    box-sizing: border-box;

    @media (max-width: $md2+px) {
        padding: 0;
    }

    a {
        color: $color_page_text;

        &:hover {
            text-decoration: underline;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin: 30px 0;
    }

    &__item {
        flex: 0 0 28.333%;
        width: 28.333%;
        max-width: 28.333%;
        margin: 2.5% 2.5% 0 2.5%;

        @media (max-width: $md4+150+px) {
            flex: 0 0 45%;
            width: 45%;
            max-width: 45%;
            margin: 5% 2.5% 0 2.5%;
        }

        @media (max-width: $md6+px) {
            flex: 0 0 95%;
            width: 95%;
            max-width: 95%;
            margin: 10% 2.5% 0 2.5%;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background: #f1f8ff;
    border-radius: 15px;

    &__row {
        display: flex;
        justify-content: space-around;
        margin: 20px 0 0 0;

        @media (max-width: $md3+px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 26px;

        @media (max-width: $md3+px) {
            font-size: 18px;
            margin: 0 0 10px 0;
        }

        span {
            font-weight: bold;
            display: block;
        }
    }

    &__size {
        display: flex;
    }

    &__price {
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        margin: 0 auto;
    }

    &__buy-btn {
        margin: 10px 0 0 0;
    }
}

.slider {
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0;
    box-shadow: 3px 4px 8px rgba(15, 79, 138, 0.3);
    border-radius: 10px;
    z-index: 10;

    img {
        width: 100%;
    }

    a,
    img {
        outline: none;

        cursor: zoom-in;

        &:focus {
            cursor: grab;
        }

        &:active {
            cursor: grab;
        }
    }

    &__btn-prev,
    &__btn-next {
        background-image: url(/assets/img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        cursor: pointer;
        filter: drop-shadow(0px 0px 10px #0085ff);
        height: 50px;
        width: 40px;
        z-index: 100000;
        background-color: transparent;
        outline: none;
        z-index: 10;
        -webkit-tap-highlight-color: transparent;
    }

    &__btn-prev {
        top: 50%;
        left: 0;
        transform: translateY(-50%) translate3d(0, 0, 0);
    }

    &__btn-next {
        top: 50%;
        left: initial;
        right: 0;
        transform: translateY(-50%) rotate(180deg) translate3d(0, 0, 0);
    }

    &__pagination {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        margin: 0 0 10px 0;
        display: flex;
        padding: 0;
    }

    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: 2px solid #ffffff !important;
        box-shadow: 0px 0px 10px #0085ff;
        background: transparent;
        padding: 0;
        margin: 0 10px 0 0;

        button {
            background: transparent;
        }

        cursor: pointer;
        outline: none;
        opacity: 0.8;

        &.swiper-pagination-bullet-active {
            background: linear-gradient(143.51deg, #ff337c -0.3%, rgba(0, 133, 255, 0.7) 79.16%);
            transform: scale(1.1);
            opacity: 1;
        }
    }
}

.order-btn {
    box-shadow: 3px 4px 8px rgba(15, 79, 138, 0.3);
    text-shadow: 0px 4px 6px rgba(15, 79, 138, 0.3);
    background: linear-gradient(170.35deg, #579dde -0.3%, #db5585 79.16%);
    border-radius: 5px;
    align-self: center;

    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.12em;

    padding: 15px 60px;
    box-sizing: border-box;

    color: #ffffff !important;

    display: flex;
    align-items: center;

    cursor: pointer;

    max-width: 100%;
    outline: none;
    text-transform: uppercase;

    img {
        margin: 0 10px 0 0;
        display: inline;
    }

    &:hover {
        box-shadow: 3px 4px 16px rgba(15, 79, 138, 0.8);
        text-decoration: none !important;
    }

    transition: box-shadow 0.5s;

    @media (max-width: $md5+px) {
        transition: none;
    }
}

.change-size {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;

    &__button {
        font-size: 0;
        padding: 0;
        cursor: pointer;
        align-self: flex-start;
        box-shadow: 2px 4px 6px rgba(15, 79, 138, 0.3);
        transition: box-shadow 0.5s;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        z-index: 5;

        @media (max-width: $md5+px) {
            transition: none;
        }

        &:hover {
            box-shadow: 3px 4px 16px rgba(15, 79, 138, 0.8);
        }
    }

    &__text {
        align-self: flex-start;
    }

    &__current {
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
        margin: 0 25px;
    }

    &__additional {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 60%);
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 19px;
        span {
            font-weight: bold;
        }
    }
}