.sale {
    position: relative;
    color: $color_header_text;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: linear-gradient(89.71deg, rgba(0, 0, 0, 0.5) 33.07%, rgba(0, 133, 255, 0.12) 80.71%),
            rgba(0, 0, 0, 0.6);
    }

    .container {
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 11;
            width: 100%;
            height: 100%;
            background: url(/assets/img/icons/adidas.svg);
            background-size: auto 102%;
            background-repeat: no-repeat;
            background-position: left top;
            opacity: 0.16;
            
            @media (max-width: $md6+px) {
                background-size: auto 80%;
            }
        }
    
    }


    &__wrapper {
        position: relative;
        z-index: 20;
        display: flex;

        @media (max-width: $md5+px) {
            justify-content: center;
        }
    }

    &__column {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:first-child {
            flex: 0 0 45%;
            margin: 0 2.5%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.3) 0%, rgba(51, 49, 49, 0) 100%);
            z-index: 12;
            position: relative;

            @media (max-width: $md5+px) {
                flex: 0 0 100%;
            }

            @media (max-width: $md7+px) {
                margin: 0;
                background: radial-gradient(50% 150% at 50% 50%, rgba(0, 0, 0, 0.3) 0, rgba(51, 49, 49, 0) 100%);
            }
        }
    }

    &__title {
        margin: 30px 0 10px 0;
    }

    &__subtitle {
        font-size: 28px;
        line-height: 33px;
        text-align: center;

        @media (max-width: $md7+px) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__timer {
        margin: 30px 0 0 0;
    }

    &__form {
        width: 100%;
        padding: 15px;
        position: relative;
        margin: 30px 0;
        box-sizing: border-box;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
        background: radial-gradient(
                207.65% 543.37% at 46.14% 44.12%,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(209, 205, 205, 0) 100%,
                rgba(174, 174, 174, 0.18) 100%
            ),
            #404040;

        @media (max-width: $md7+px) {
            padding: 15px 5px;
        }

        input {
            background: transparent;
            border: 2px solid #ffffff !important;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px #0085ff;
            border-radius: 5px;
            outline: none;
            color: $color_header_text;

            &:focus {
                box-shadow: 0px 0px 10px rgba(255, 62, 102, 0.88);
            }
        }

        button {
            background: transparent;
            border: 2px solid #ffffff;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px #0085ff;
            border-radius: 5px;
            letter-spacing: 0.05em;
            padding: 15px 20px;
            transition: box-shadow 0.3s, text-shadow 0.3s, transform 0.3s;
            &:hover {
                box-shadow: 0px 0px 20px #0085ff;
                text-shadow: 0px 0px 10px rgba(255, 62, 102, 0.88);
                transform: scale(1.035);
            }
        }

        .order-form__responce {
            background: none !important;
            border: none !important;
        }
    }

    &__img {
        img {
            position: absolute;
            right: 0;
            top: 0;

            @media (max-width: $md4+250+px) {
                right: -10%;
            }

            @media (max-width: $md5+px) {
                width: 93%;
                right: initial;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: $md7+px) {
                width: 100%;
                opacity: 0.7;
            }
        }
    }
}

.timer {
    &__block {
        display: flex;
        justify-content: space-around;
        margin: 10px 0 0 0;
    }

    &__value {
        display: flex;
        flex-direction: column;
        font-family: PT Sans Narrow;
        text-align: center;
        margin: 0 10px;

        &,
        span:not(.timer__label) {
            font-weight: bold;
            font-size: 110px;
            line-height: 95px;

            @media (max-width: $md7+px) {
                font-size: 80px;
                line-height: 75px;
            }

            @media (max-width: $md7+px) {
                font-size: 60px;
                line-height: 55px;
            }
        }

        .timer__label {
            font-weight: normal;
            font-size: 28px;
            line-height: 36px;

            @media (max-width: $md7+px) {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}