.info {
    background: radial-gradient(25.63% 276.49% at 43.05% 22.35%, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #fff2fc;

    a {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: $color_page_text;

        @media (max-width: $md6+px) {
            font-size: 15px;
            line-height: 20px;
        }

        &:hover {
            color: #0085ff;
        }

        &:not(.footer__top):hover {
            text-decoration: underline;
        }

        transition: color 0.4s;
    }

    p {
        font-size: 20px;
        text-indent: 10px;
        line-height: 140%;

        @media (max-width: $md6+px) {
            font-size: 16px;
        }

        margin: 0.6em 0;

        a {
            text-decoration: underline;
        }
    }

    &__header {
        padding: 65px 0 0 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: $md6+px) {
            padding: 30px 0 0 0;
        }

        @media (max-width: $md7+px) {
            padding: 10px 0 0 0;
        }
    }

    &__icon {
        img {
            max-width: 100%;
        }

        @media (max-width: $md5+px) {
            display: flex;
            align-items: center;

            img {
                max-width: 60px;
            }
        }

        @media (max-width: $md5+px) {
            img {
                max-width: 40px;
            }
        }
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 1000px;
        padding: 10px 0;
    }

    &__block {
        padding: 0 115px;

        @media (max-width: 1100px) {
            padding: 0 40px;
        }

        @media (max-width: $md5+px) {
            padding: 0;
        }
    }

    &__title {
        position: relative;
        margin: 30px 0;

        @media (max-width: $md7+px) {
            margin: 20px 0 10px 0;
            font-size: 24px;
        }
    }

    &__partners {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 40px 0 10px 0;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px 30px 15px;
    }

    &__footer {
    }
}
