<div class="page__benefits benefits benefits-desktop">
    <div class="benefits__item">
        <div class="benefits__img"><img src="img/benefits/01.svg" alt=""></div>
        <div class="benefits__body">
            <div class="benefits__title">Отменное качество</div>
            <div class="benefits__text">Лучшая цена - за лучшее качество в Украине</div>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__img"><img src="img/benefits/02.svg" alt=""></div>
        <div class="benefits__body">
            <div class="benefits__title">Доставка в подарок</div>
            <div class="benefits__text">При полной предоплате доставка за наш счет</div>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__img"><img src="img/benefits/03.svg" alt=""></div>
        <div class="benefits__body">
            <div class="benefits__title">Наложенный платеж</div>
            <div class="benefits__text">При минимальной предоплате</div>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__img"><img src="img/benefits/04.svg" alt=""></div>
        <div class="benefits__body">
            <div class="benefits__title">Никаких задержек</div>
            <div class="benefits__text">Мы отправляем в день заказа или на следующий</div>
        </div>
    </div>
</div>