<div class="page__products products" id="products">
    <div class="products__title title title-center">Выбери свой стиль</div>
    <div class="products__wrapper">
            @@include('_item-product.html', {"id" : 1})
            @@include('_item-product.html', {"id" : 2})
            @@include('_item-product.html', {"id" : 3})
            @@include('_item-product.html', {"id" : 4})
            @@include('_item-product.html', {"id" : 5})
            @@include('_item-product.html', {"id" : 6})
    </div>
</div>