<div class="page__sale sale">
    <div class="container">
        <div class="sale__wrapper">
            <div class="sale__column">
                <div class="sale__title title title-center">Только сегодня!</div>
                <div class="sale__subtitle">Скидка 20% на все кроссовки Yeezy Boost 350</div>    
                <div class="sale__timer timer">
                    <div class="timer__subtitle sale__subtitle">До конца акции осталось:  </div>
                    <div class="timer__block">
                        <div class="timer__value">
                            <span id="hours">0</span>
                            <span class="timer__label">Часов</span>
                        </div>
                        <div class="timer__value">
                            :
                        </div>
                        <div class="timer__value">
                            <span id="minutes">0</span>
                            <span class="timer__label">Минут</span>
                        </div>
                        <div class="timer__value">:</div>
                        <div class="timer__value">
                            <span id="seconds">0</span>
                            <span class="timer__label">Секунд</span>
                        </div>
                    </div>
                </div>    
                <div class="sale__form order-form">
                    <form class="form">
                        <div class="form__row">
                            <div class="form__column">
                                <label for="name">Имя</label>
                                <input type="text" name="name" autocomplete="off" >
                            </div>
                            <div class="form__column">
                                <label for="phone">Номер телефона*</label>
                                <input type="tel" name="phone" autocomplete="off" placeholder="+380(__)___-__-__">
                            </div>
                        </div>
                        <button type="submit" class="popup__btn order-btn">ЗАКАЗАТЬ ПО СКИДКЕ</button>
                    </form>
                    <div class="order-form__responce"></div>
                </div>
            </div>
            <div class="sale__column">
                <div class="sale__img">
                    <img src="img/sale.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>