<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <link rel="stylesheet" href="css/style.css"> 
    <title>Yeezy</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    @@include('_header.html')

    <main class="page" id="main">
        <div class="container main-content">
            @@include('_section-benefits.html')
            @@include('_section-products.html')
        </div>

        @@include('_section-sale.html')
        @@include('_section-info.html')
    </main>

    @@include('_modal.html')

    <div class="properties">
        <div class="properties__size">
            <div data-prop-size="36" data-info="23.0"></div>
            <div data-prop-size="37" data-info="23.5"></div>
            <div data-prop-size="38" data-info="24.0"></div>
            <div data-prop-size="39" data-info="25.0"></div>
            <div data-prop-size="40" data-info="25.5"></div>
            <div data-prop-size="41" data-info="26.0"></div>
            <div data-prop-size="42" data-info="26.5"></div>
            <div data-prop-size="43" data-info="27.5"></div>
            <div data-prop-size="44" data-info="28.0"></div>
            <div data-prop-size="45" data-info="29.0"></div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>