<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <link rel="stylesheet" href="assets/css/style.css"> 
    <title>Yeezy</title>
</head>
<body>
    @@include('parts/header.html')

    <main class="page" id="main">
        <div class="container main-content">
            @@include('parts/section-benefits.html')
            @@include('parts/section-products.html')
        </div>

        @@include('parts/section-sale.html')
        @@include('parts/section-info.html')
    </main>
    
    @@include('parts/modal.html')
    @@include('parts/pspw.html')

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="assets/js/script.js"></script>
    <script id="productsData" type="application/json">@@include('../products.json')</script>
</body>
</html>